body {
    margin-top: 55px;
    margin-bottom: 55px;
}


.container {
    width: auto;
    max-width: 900px;
    padding: 0 15px;
}

.container .footer-text{
    margin: 20px 0;
}

.badge{
    background-color: #e4aa48;
}